name: Ruby

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        gemfile:
          - gemfiles/rails_7.2
          - gemfiles/rails_8.0
          - gemfiles/rails_8.1
          - gemfiles/rails_main
        ruby:
          - "3.2"
          - "3.3"
          - "3.4"
          # exclude:
          #   - gemfile: gemfiles/rails_8.0
          #     ruby: '3.4'
          #   - gemfile: gemfiles/rails_main
          #     ruby: '3.4'
    env:
      BUNDLE_GEMFILE: ${{ github.workspace }}/${{ matrix.gemfile }}.gemfile
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
          cache-version: 4
      - name: Rubocop
        run: bundle exec rubocop -D
      - name: Run tests
        run: bin/test
